/workshops/unit1/assignments/int/nbproject/private/
/workshops/unit1/assignments/int/build/
/workshops/unit1/assignments/float/nbproject/private/
/workshops/unit1/assignments/float/build/
/workshops/unit1/assignments/int1/nbproject/private/
/workshops/unit1/assignments/int1/build/
/workshops/unit1/assignments/short/build/
/workshops/unit1/assignments/short/nbproject/private/
/workshops/unit1/assignments/short1/build/
/workshops/unit1/HW02assignments/float/build/
/workshops/unit1/HW02assignments/float/nbproject/private/
/workshops/unit1/HW02assignments/int1/nbproject/private/
/workshops/unit1/HW02assignments/short/build/
/workshops/unit1/HW02assignments/short/nbproject/private/
/workshops/unit1/HW02 Assignments/float/build/
/workshops/unit1/HW02 Assignments/float/nbproject/private/
/workshops/unit1/HW02 Assignments/int1/build/
/workshops/unit1/HW02 Assignments/int1/nbproject/private/
/workshops/unit1/HW02 Assignments/short/build/
/workshops/unit1/HW02 Assignments/short/nbproject/private/
/workshops/unit1/Assignments/float/build/
/workshops/unit1/Assignments/float/nbproject/private/
/workshops/unit1/Assignments/int1/build/
/workshops/unit1/Assignments/int1/nbproject/private/
/workshops/unit1/Assignments/short/build/
/workshops/unit1/Assignments/short/nbproject/private/
/workshops/unit1/Assignments/HW02/int1/build/
/workshops/unit1/Assignments/HW02/int1/nbproject/private/
/workshops/unit1/Assignments/HW02/short/build/
/workshops/unit1/Assignments/HW02/short/nbproject/private/
/workshops/unit1/Assignments/HW02/float/nbproject/private/
/workshops/unit1/WS04-LogicalOperators/nbproject/private/
/workshops/unit1/WS09 LogicalOperators/nbproject/private/
/workshops/unit1/WS09 LogicalOperators/build/
/workshops/unit1/WS04 LogicalOperators/build/
/workshops/unit1/WS04 LogicalOperators/nbproject/private/
/workshops/unit1/WS05lterations/nbproject/private/
/workshops/unit1/WS05lterations/build/
/workshops/unit1/HW03/nbproject/private/
/workshops/unit1/HW03/build/
/assignments/HW03Iterations/nbproject/private/
/assignments/HW03Iterations/build/