/workshops/unit1/assignments/int/nbproject/private/
/workshops/unit1/assignments/int/build/
/workshops/unit1/assignments/float/nbproject/private/
/workshops/unit1/assignments/float/build/
/workshops/unit1/assignments/int1/nbproject/private/
/workshops/unit1/assignments/int1/build/
/workshops/unit1/assignments/short/build/
/workshops/unit1/assignments/short/nbproject/private/
/workshops/unit1/assignments/short1/build/