/workshops/unit1/assignments/int/nbproject/private/
/workshops/unit1/assignments/int/build/
/workshops/unit1/assignments/float/nbproject/private/
/workshops/unit1/assignments/float/build/
/workshops/unit1/assignments/int1/nbproject/private/
/workshops/unit1/assignments/int1/build/
/workshops/unit1/assignments/short/build/
/workshops/unit1/assignments/short/nbproject/private/
/workshops/unit1/assignments/short1/build/
/workshops/unit1/HW02assignments/float/build/
/workshops/unit1/HW02assignments/float/nbproject/private/
/workshops/unit1/HW02assignments/int1/nbproject/private/
/workshops/unit1/HW02assignments/short/build/
/workshops/unit1/HW02assignments/short/nbproject/private/
/workshops/unit1/HW02 Assignments/float/build/
/workshops/unit1/HW02 Assignments/float/nbproject/private/
/workshops/unit1/HW02 Assignments/int1/build/
/workshops/unit1/HW02 Assignments/int1/nbproject/private/
/workshops/unit1/HW02 Assignments/short/build/
/workshops/unit1/HW02 Assignments/short/nbproject/private/
/workshops/unit1/Assignments/float/build/
/workshops/unit1/Assignments/float/nbproject/private/
/workshops/unit1/Assignments/int1/build/
/workshops/unit1/Assignments/int1/nbproject/private/
/workshops/unit1/Assignments/short/build/
/workshops/unit1/Assignments/short/nbproject/private/
/workshops/unit1/Assignments/HW02/int1/build/
/workshops/unit1/Assignments/HW02/int1/nbproject/private/
/workshops/unit1/Assignments/HW02/short/build/
/workshops/unit1/Assignments/HW02/short/nbproject/private/
/workshops/unit1/Assignments/HW02/float/nbproject/private/
/workshops/unit1/WS04-LogicalOperators/nbproject/private/
/workshops/unit1/WS09 LogicalOperators/nbproject/private/
/workshops/unit1/WS09 LogicalOperators/build/
/workshops/unit1/WS04 LogicalOperators/build/
/workshops/unit1/WS04 LogicalOperators/nbproject/private/
/workshops/unit1/WS05lterations/nbproject/private/
/workshops/unit1/WS05lterations/build/
/workshops/unit1/HW03/nbproject/private/
/workshops/unit1/HW03/build/
/assignments/HW03Iterations/nbproject/private/
/assignments/HW03Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/unit 1/HW04Menus/nbproject/private/
/assignments/unit 1/HW04Menus/build/
/Exams/Unit 1/AguirreArielQ11/nbproject/private/
/Exams/Unit 1/AguirreArielQ11/build/
/workshops/ExamSolutionQ11/nbproject/private/
/workshops/ExamSolutionQ11/build/
/workshops/unit2/WS08debugging/nbproject/private/
/workshops/unit2/WS08debugging/build/
/workshops/unit2/HW08-FcactorialNumber/nbproject/private/
/workshops/unit2/HW08-FcactorialNumber/build/
/assignments/unit 2/HW09-EmbeddedStructures/nbproject/private/
/assignments/unit 2/HW09-EmbeddedStructures/build/
/assignments/unit 2/HW09-EmbeddedStructures/dist/
/workshops/unit2/WS10fuctions/nbproject/private/
/workshops/unit2/WS10fuctions/build/
/assignments/unit 2/HW10Functions/nbproject/private/
/assignments/unit 2/HW10Functions/build/
/workshops/unit2/WS11Refactorial/WS11Refactory/nbproject/private/
/workshops/unit2/WS11Refactorial/WS11Refactory/build/
/assignments/unit 2/HW11Recursion/HW11Recursion/nbproject/private/
/assignments/unit 2/HW11Recursion/HW11Recursion/build/
/workshops/unit2/WS12libraries/nbproject/private/
/workshops/unit2/WS12-Libraries/nbproject/private/
/workshops/unit2/WS12-Libraries/build/
/assignments/unit 2/HW12-Taxes/nbproject/private/
/assignments/unit 2/HW12-Taxes/build/
/workshops/unit2/WS13-Tesk/nbproject/private/
/workshops/unit2/WS13-Tesk/build/
/workshops/unit2/WS14Arrays/FarmSimulator/nbproject/private/
/workshops/unit2/WS14Arrays/FarmSimulator/build/
/assignments/HW14Arrays/nbproject/private/
/assignments/HW14Arrays/build/
/Exams/examunit2/nbproject/private/
/Exams/examunit2/build/
/workshops/unit2/WS15ResolutionArrays/nbproject/private/
/workshops/unit2/WS15ResolutionArrays/build/
/workshops/unit2/WS16-MatrixAddition/nbproject/private/
/workshops/unit2/WS16-MatrixAddition/build/
/assignments/unit 2/HW-MatrixOperation/nbproject/private/
/assignments/unit 2/HW-MatrixOperation/build/
/assignments/unit 2/HW15MatrixOperation/nbproject/private/
/assignments/unit 2/HW15MatrixOperation/build/
/workshops/unit2/WS17-MatrixTransposition/nbproject/private/
/workshops/unit2/WS17-MatrixTransposition/build/
/workshops/unit2/HW16MatrixFuction/nbproject/private/
/workshops/unit2/HW16MatrixFuction/build/
/Examunit2/AguirreNQ11/nbproject/private/
/Examunit2/AguirreNQ11/build/
/workshops/unit3/AlquingaD-Exam2/nbproject/private/
/workshops/unit3/AlquingaD-Exam2/build/
/workshops/unit2/WS10fuctions/dist/